@import "./variables.scss";

.dockContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.dock {
  display: flex;
  padding: 0.4rem 1rem;
  border-radius: $border-radius;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  left: 50%;
  transform: translateX(-50%);
}

.dock__icon {
  margin: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}
