@import "./variables.scss";

.window {
  border-radius: $border-radius;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  transition: all 0.3s ease;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-small;
    cursor: move;
    background: transparent;
    backdrop-filter: blur(10px);
    cursor: grab;
  }

  &__content {
    flex-grow: 1;
    overflow: auto;
  }
}
