@import "./variables.scss";

.window {
  //   background-color: white;
  border-radius: $border-radius;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid $background-color-dark;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-small;
    // background-color: $background-color-light;
    // border-bottom: 1px solid $background-color-dark;
    cursor: move;
  }
  &__content {
    padding: $padding-medium;
    flex-grow: 1;
    overflow: auto;
  }
}
