// Colors
$primary-color: #0070f3;
$secondary-color: #1e1e1e;
$background-color-light: #f0f0f0;
$background-color-dark: #1e1e1e;
$text-color-light: black;
$text-color-dark: white;

// Spacing
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;

// Border Radius
$border-radius: 10px;
